.form {
    display: block;
    margin-top: 0em;
}

.form__header {
    color: #300d06;
    text-align: center;
    font-size: 25px ;
}

.form__labelText {
    max-width: 100px;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    max-width: 400px;
    border-radius: 10px;
}

.form__button {
    background-color: rgb(148, 146, 146);
    border-radius: 5px;
    margin: auto;
    width: 100%;background-color: rgb(148, 146, 146);
    border-radius: 5px;
    margin: auto;
    width: 100%;
}

.form__button:hover {
    background-color: rgb(136, 112, 112);
}